{% extends 'base.html' %}
{% load static %}
{% block content %}

		<!--**********************************
            Chat box start
        ***********************************-->
		{% include 'chatbox.html' %}
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
		{% include 'header.html' %}
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		{% include 'sidebar.html' %}

        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					
					<div class="col-xl-12 col-lg-12">
						<div class="card profile-card card-bx m-b30">
							<div class="card-header">
								<h6 class="title">Product Update</h6>
							</div>
							<form class="profile-form" method="post" enctype="multipart/form-data" action="">
								{% csrf_token %}
								<div class="card-body">
								  <div class="row">
									{% for field in form %}
									<div class="col-sm-6 m-b30">
									  <label class="form-label" for="{{ field.auto_id }}">
										{% if field.field.required %}
										<b>{{ field.label }}</b>
										{% else %}
										{{ field.label }}
										{% endif %}
									  </label>
									  <div class="col-lg-12 col-md-12 col-sm-12">
										<span style="color:red;">{{ field.errors }}</span>
										{{ field }}
									  </div>
									</div>
									{% endfor %}
								  </div>
								</div>

								<div class="card-footer">
								  <button type="submit" class="btn btn-primary" name="saved">Saqlash</button>
									<a href="{% url 'main:product-list' %}" class="btn-link">Ortga Qaytish</a>
								</div>
							  </form>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
		
{% endblock %}