{% extends 'base.html' %}
{% load static %}
{% block content %}
		
		<!--**********************************
            Chat box start
        ***********************************-->
		{% include 'chatbox.html' %}
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
		{% include 'header.html' %}
        
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		{% include 'sidebar.html' with menu_parent="user" menu_submenu="user-create" %}

        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					
					<div class="col-xl-12 col-lg-12">
						<div class="card profile-card card-bx m-b30">
							<div class="card-header">
								<h6 class="title">Account setup</h6>
							</div>
							<form class="profile-form" method="post" enctype="multipart/form-data" action="">
                                {% csrf_token %}

								<div class="card-body">
									<div class="row">
										<div class="col-sm-6 m-b30">
											<label class="form-label">ismi</label>
											<input type="text" class="form-control" value="John" name="name">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Familiyasi</label>
											<input type="text" class="form-control" value="Couter" name="surname">
										</div>
										
										<div class="col-sm-6 m-b30">
											<label class="form-label">Jinsi</label>
											<select class="default-select form-control" id="validationCustom05" name="gender">
												<option  data-display="Select">Please select</option>
												<option value="html">Erkak</option>
												<option value="css">Ayol</option>
												<option value="javascript">Boshqa</option>
											</select>
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Tug'ilgan kuni</label>
											<input type="date" class="form-control" name="birth_date">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Telefon Raqami</label>
											<input type="text" class="form-control" value="+123456789" name="phone_number">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Email Adresi</label>
											<input type="text" class="form-control" value="demo@gmail.com" name="email">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Viloyati</label>
											<select class="default-select form-control" id="validationCustom01" name="region">
												<option  data-display="Select">Please select</option>
												<option value="russia">Andijon</option>
												<option value="canada">Namangan</option>
												<option value="china">Farg'ona</option>
												<option value="india">Toshkent</option>
											</select>
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Shahar yoki Tumani</label>
											<select class="default-select form-control" id="validationCustom02" name="city_or_district">
												<option  data-display="Select">Please select</option>
												<option>Andijon Shahar</option>
												<option>Andijon Tuman</option>
												<option>Shahrixon Tumani</option>
												<option>Ontin Ko'l Tumani</option>
											</select>
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Profil Rasm</label>
											<input type="file" class="form-control" name="profile_image">
										</div>
									</div>
								</div>
								



								<div class="tab-content main-editor">
									<div class="card-body">
										<div class="row">
											{% for field in form %}
											<div class="col-sm-6 m-b30">
	
												<label class="form-label" for="{{field.auto_id}}">
													{% if field.field.required %}
													<b>{{field.label}}</b>
													{% else %}
													{{field.label}}
													{% endif %}
												</label>
												<div class="col-lg-9 col-md-9 col-sm-12">
													
													<span style="color:red;">{{field.errors}}</span>
													
													{{field}}
												</div>
											</div>
											{% endfor %}
										</div>


										<div class="card-footer">
											<button type="submit" class="btn btn-primary" name="save-create">Qo'shish</button>
											<a href="page-register.html" class="btn-link">Forgot your password?</a>
										</div>
							</form>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
		
{% endblock %}